html {
    font-family: sans-serif;
}

#container {
    width: 77%;
    margin: 0 auto;
}

h1 {
    color: navy;
    text-decoration: underline;
}

.details {
    color: firebrick;
    font-weight: bolder;
}

.link a {
    color: chocolate;
    text-decoration: none;
    font-weight: bold;
}