<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>${title}</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="container">
    <h1>Данные кота</h1>
    <p class="details">Имя: ${cat.getName()} </p>
    <p class="details">Вес: ${cat.weight} кг.</p>
    <p class="details">Нрав: ${cat.isAngry()?string('Сердитый', 'Дружелюбный')}</p>
    <p class="link"><a href="https://imacat.ru/${cat.name}.html">Личная страница в сети >>></a></p>
</div>
</body>
</html>